<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}ORDER UP!{{/if}}
	</button>
	<!--Fix Delete Later-->
	<!--<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>-->
</li>